body{
	background: white;
}

form label {
	display: block;
	font-size: 20px;
	color: red;	
	
}
form input{
	display: block;
	background: black;
	color: white;
	font-weight: bold;
	
}	
table {

background: #b0d7ce;

}
table tr td {

background: #555555;

color: white;

font-weight: bold;


border: 1px solid #000000;

border-color: #96f75b;

}
